/* CSS Document */
@-ms-viewport { width: device-width; overflow-y: auto;}
body{
	background-color:#FAFAFA;
	background: url(../images/rlo-bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#helm_header_logo{
	position:absolute;
	left:50px;
	top:15px;
}

#helm_header_logo2{
	position:absolute;
	left:2px;top:2px;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1100; /* Sit on top */
    right: 0;
    top: 0;
    /*background-color: rgb(0, 149, 161); /* Black fallback color */
    background-color: rgba(0, 155, 189, 0.98); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
   	clear: both;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 35px; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 10px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
.overlay-content p{
	padding-top:15px;
	font-size:1.6em;
	font-weight:bold;
	color:#fff;
}
/* The navigation links inside the overlay */
.overlay a {
    padding: 5px 8px;
    text-decoration: none;
    color: #fff;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}



/* Position the close button (top right corner) */
#menu_close{
    position: absolute;
    top: 25px;
    right: 50px;
    font-size: 1.3em;
	transition:none;
	z-index:1200;
}
#menu_close:link, #menu_close:visited {
	border:2px solid rgba(0, 155, 189, 0.98);
	border-radius:5px;
}
#menu_close:hover {
	border:2px solid #fff;
	border-radius:5px;
}
#main_menu, #main_menu li{
	display:block;
	list-style:none;
	margin-left:0;
	padding-left:0;
	font-size:1.1em;
}
#main_menu li.active a:link, #main_menu li a:visited{
	background-color:#666;
}
#main_menu li a:hover, #main_menu li a:focus{
	color: #fff;
	background-color:#000;
}
#main_menu_trigger{
	position:absolute;
	right:38px;
	top:26px;
	font-size: 1.3em;
	
}
#main_menu_trigger a:link, #main_menu_trigger a:visited{
	display:inline-block;
	border:2px solid transparent;
	border-radius:3px;
	padding:2px 3px 0px 3px;
	color: #747474;
	margin-right:4px;
}
#main_menu_trigger a:hover{
	border:2px solid rgba(0, 155, 189, 0.98);
	color: rgba(0, 155, 189, 0.98);
	transition: 0.5s;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}






/* START Mobile Base Nave >= MD */
#mobile_base_nav{
	text-align:center;
	padding-bottom:1px;
	margin-bottom:0;
	min-height: 50px;
	backround-color:#000;
	border-top:1px solid rgba(183,183,183,0.89);
}
/*#mobile_base_nav a:first-child{
	margin-right:8%;
}*/
#uon_base_logo{
	text-align:center;
	/*margin-top:-2px;*/
}
#helm_base_logo{
	margin-right:15px;
	
}
.btn-mobile-base { 
	  color: #ffffff; 
	  background-color: #000000; 
	  border:none;
	border-color: #009BBD;
	padding:8px;
}
.btn-mobile-base:link,.btn-mobile-base:visited{
	background-color:#009BBD;
}

.btn-mobile-base:hover, 
.btn-mobile-base:focus, 
.btn-mobile-base:active, 
.btn-mobile-base.active, 
.open .dropdown-toggle.btn-mobile-base { 
	color: #ffffff; 
	background-color:#ed3c79;
	border-color: #ed3c79; 
} 
 
.btn-mobile-base:active, 
.btn-mobile-base.active, 
.open .dropdown-toggle.btn-mobile-base { 
	background-image: none; 
} 
 
.btn-mobile-base.disabled, 
.btn-mobile-base[disabled], 
fieldset[disabled] .btn-mobile-base, 
.btn-mobile-base.disabled:hover, 
.btn-mobile-base[disabled]:hover, 
fieldset[disabled] .btn-mobile-base:hover, 
.btn-mobile-base.disabled:focus, 
.btn-mobile-base[disabled]:focus, 
fieldset[disabled] .btn-mobile-base:focus, 
.btn-mobile-base.disabled:active, 
.btn-mobile-base[disabled]:active, 
fieldset[disabled] .btn-mobile-base:active, 
.btn-mobile-base.disabled.active, 
.btn-mobile-base[disabled].active, 
fieldset[disabled] .btn-mobile-base.active {
	background-color: #666;
	border-color: #09022B;
} 
 
.btn-mobile-base .badge { 
	color: #000000; 
	background-color: #ffffff; 
} 
/* Progress bar */
.progress_container{width:100%;height:3px;position:relative;background-color:#f1f1f1;margin-bottom:5px;}
.progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}
.green,.hover_green:hover{color:#fff!important;background-color:#02D1E0!important}
#next_button{margin-right:10px;margin-left:0;}
#previous_button{margin-left:5px;}

/* END Mobile Base Nave >= MD */
.rlo_title{
	margin-top:5px;
	color:#4e4e4e;
}
.rlo_title a:link, .rlo_title a:visited{
	color:#4e4e4e;
}
article{
	background-color:#FAFAFA;
	padding-top:50px;
	margin-bottom:80px;
}	
article h1{
	margin-top:10px;
	/*border-bottom:1px solid #3276B1;*/
}
h1 span{
	color:#009BBD;
}
.read_aloud{
	opacity:0.6;
	border-top:1px dashed #058A95;
	padding-top:10px;
	margin-top:20px;
	margin-bottom:20px;
	/*background-color:rgba(62,135,212,1.00);
	color:#fff;*/
}
.read_aloud_player{
	text-align:right;
}
#read_aloud_player{
	height:30px;
	background-color:#2D2D2D;
}
/* START footer narration inclusion */
.narration_audio p{
	display:none;
}

.footer_naration{
	color:#fff;
	font-weight:bold;
	padding:3px;
	margin-right:10px;
	display:flex;
	flex-wrap:nowrap;
	align-items: center;
}

#uon_base_logo{
	
}
.narrtion_text{
	
}
.narration_audio{
	
}
/* END footer narration inclusion */
.transcript_button{
	width:95%;
	
	margin:10px auto 0 auto;
	padding-top:15px;
	padding-bottom:10px;
	border-top: 1px dashed #058A95;
}
/* START Feedback Form */
.feedback_form{
	width:100%;
	height:2800px;
	border:none;
	margin:10px 0;
}
/* END Feedback Form */
#vrview iframe{
	width:100%;
	min-height:400px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */
   #read_aloud_player{
	   width:250px;
	   height:35px;
	}  
}
.read_aloud:hover, .read_aloud:focus{
	opacity:1;
}
.resource_nav_bar{
  margin-bottom: 20px;
}
.rec_panel table{
	background-color:#fff;
}

footer{
	color:#7D7D7D;
	margin-top:50px;
	margin-bottom:20px;
	padding:20px 10px 0 0;
}
footer ul{
	margin:0;
	padding:0;
	list-style:none;
}
footer p{
	margin-bottom:0px;
}
footer img{
	margin-top:5px;
}
footer a:link, footer a:visited{
	color:#428bca;
}


/* START hide text toggle */
#hide_text_control{
	text-align:right;
}
/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 30px;
height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 13px;
width: 13px;
left: 2px;
bottom: 2px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(13px);
-ms-transform: translateX(13px);
transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
/* END hide text toggle */




@media(max-width:992px){
	.read_aloud{
		border-bottom:1px dashed rgb(0, 149, 161);
		padding-bottom:5px;
		margin-bottom:10px;
	}
	body { 
 		background: none;
		background-color:#FAFAFA;
	}
}


@media(max-width:767px){
	#helm_header_logo{
		position:absolute;
		left:7px;
		top:2px;
	}
	
	#main_menu_trigger{
		position:fixed;
		z-index:1005;
		right:5px;
		top:13px;
	}
	#main_menu_trigger a:link,#main_menu_trigger a:visited{
		color:#fff;
		border:none;
	}
	#menu_close{
		top: 10px;
		right: 5px;
		font-size: 1.3em;
		transition:none;
	}
	#menu_close:link, #menu_close:visited {
		border:none;
	}
	#menu_close:hover {
		border:none;
	}
	.overlay-content p{
		padding-top:5px;
		font-size:1.0em;
	}
	.overlay-content li{
		

	}
	#main_menu, #main_menu li{
		font-size:1.0em;
	}
	.read_aloud{
		text-align:center;
	}
	.read_aloud_player{
		text-align:center;
	}
	header{
		position:fixed;
		top:0;
		left:0;
		background-color: rgba(0, 155, 189, 0.98);
		z-index:1000;
		height:45px;
		width:100%;
	}
	.rlo_title{
		
	}
	article{
		border:none;
	}
	article h1{
		text-align:center;
		font-size:200%;
		padding-bottom:10px;
		border-bottom-width:2px;
	}
	main article h1 span{
		color: rgba(0, 155, 189, 1) !important;
	}
	article h2{
		text-align:center;
		font-size:160%;
		
	}
	#doc_top_btn{
		margin:0px 10px 70px 10px;
	}
	footer div.text-right{
		text-align:center;
		margin-top:20px;
	}
	footer{
		border-top:1px solid #ccc;
		padding-top:20px;
		padding-bottom:0px;
		text-align:center;
		margin:20px 0 0 0;
	}
	#mobile_base_nav{
		text-align:center;
		padding-bottom:5px;
		margin-bottom:0;
		min-height: 40px;
		background-color:#000;
	}
	footer ul{
		margin-bottom:0;
		padding-bottom:0;
	}
	#mobile_base_nav a{
		/*width:45%;*/
	}
	#mobile_base_nav a:first-child{
		margin-right:8%;
	}
	.btn-mobile-base { 
		color: #ffffff; 
		  background-color: #000000; 
		  border:none;
  		border-color: #09022B; 
	} 
	.feedback_form{
	height:3600px;
	}
	.ss_resource_btn{
		margin-bottom:5px;
	}
	/* START footer narration inclusion */
	ss_readaloud_container{
		text-align:center;
	}
	#ss_readaloud_container .ss_container{
		text-align:center;
		border-top:1px dashed #ED337C;
		border-bottom:1px dashed #ED337C;
		padding:5px;
		
	}
	.narration_audio{

	}
	#ss_readaloud_container p{
		display:none;
		text-align:center;
		font-weight:bold;
		color:#363636;
	}
	#ss_readaloud_container audio{
		display:block;
		/*border:1px solid #000;*/
		margin:15px auto 0 auto;
	}
	/* END footer narration inclusion */
	
	#hide_text_control{
		text-align:center;
	}
	
}

@media(min-width:768px){
	
	article{
		/*border:40px solid rgba(179,179,179,0.89);*/
		padding:20px 20px 40px 20px;
		margin-top:60px;
		-webkit-box-shadow: 10px 10px 5px 0px rgba(158,158,158,1);
		-moz-box-shadow: 10px 10px 5px 0px rgba(158,158,158,1);
		box-shadow: 10px 10px 5px 0px rgba(158,158,158,1);
	}	
	

}
@media(min-width:992px){
	#uon_base_logo{
		text-align:left;
	}
}
#adjust_playback_btn, #auto_narration_btn{
	display:inline;
}
#supporting_text_selection, #auto_narration_selection{
	border-top:1px dashed #fff;;
}
#supporting_text_selection{
	padding-bottom:20px;
}
#auto_narration_selection label, #supporting_text_selection label{
	color:#fff;
}
/* START playback speed */
#adjust_playback_container{
	margin-top:30px;
}
#playback_speed_selection{
	border-top:1px dashed #fff;
	border-bottom:1px dashed #fff;
	margin-top:20px;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:-40px;
	color:#fff;
	font-weight:bold;
}
@media(max-width:767px){
	#playback_speed_selection{
	margin-bottom:20px;
	}
}
#playback_speed_selection label{
	color:#fff;
}
#playback_reset_btn{
	display:inline-block;
	margin-top:30px;
}

/* END playback speed */

/* START Chrome audio playback styling
audio::-webkit-media-controls-timeline {
background-color:transparent;
padding:0 5px 10px 5px;
align-items: flex-end;
}
audio::-webkit-media-controls-enclosure{
padding:0;
border-radius:0;
align-items: flex-end;

}
audio::-webkit-media-controls-panel{
margin:0;
padding:0;
align-items: flex-end;
}
audio::-webkit-media-controls-timeline-container {
align-items: flex-end;
}
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
padding-bottom:5px;
}
/* END Chrome audio playback styling */
/* START Privacy Statement */
#privacy_statement{
padding-top:5px;
color:#fff;
}
/* END Privacy Statement */
/* START Privacy Statement */
#privacy_statement{
padding-top:5px;
color:#fff;
}

#main_menu_privacy_control{
	margin-top:20px;
	border-top:1px dashed #fff;
	border-bottom:1px dashed #fff;
	padding-top:10px 0 50px 0;
}
#main_menu_privacy_control p{
	font-weight:normal;
	font-size:1.4rem;
}
#main_menu_privacy_control p strong{
	font-size:1.6em;
}
#main_menu_privacy_control .btn{
	display:inline-block;
}
/* END Privacy Statement */
